
   
   
*{
    margin: 0%;
    padding: 0%;
   
}
.seçao-cabeçalho
.cabeçalho{
 background-color: black;

}   

   
.cabeçalho-escrita{
   
    display: inline-block;
    justify-content: space-around;
    padding: 30px;
   
    color: rgb(255, 255, 255);
}
.pet-cabeçalho{
    width: 10%;
}

.escola{
    
    background-image:linear-gradient( rgb(0, 0, 0), rgb(245, 0, 0));
    display: flex;
}
.escola-escrita{
padding: 60px;
}
.imagemcabecalho{
    width: 30%;
    display: inline;

}
.meio-site{
   
    background-color: red;
   height: 90px;
 
}
.escrita-meio{ 

    padding: 40px;
}
.final-site{
    background-image:linear-gradient( rgb(255, 0, 0), rgb(0, 0, 0));
}